*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.horizontal{
    display: flex;
    
}

img{
    margin-left: 30px;
    object-fit: cover;
}